:root {
  --side-padding: 20rem;
  --bar-height: 5.5rem;
}

#receiver-header {
  display: flex;
  box-sizing: border-box;
  height: var(--bar-height);
  padding: 0.8rem var(--side-padding);
  gap: 1.3rem;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  align-items: center;
}

#messenger {
  display: flex;
  flex-direction: column;
}

.receiver-img {
  max-height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 4px -1px black;
}

@media (max-width: 1150px) {
  :root {
    --side-padding: 10rem;
  }
}

@media (max-width: 750px) {
  :root {
    --side-padding: 1rem;
  }
}
