#messaging-container {
  position: fixed;
  bottom: 0;
  display: grid;
  align-items: center;
  height: var(--bar-height);
  width: 100%;
  bottom: 0;
  gap: 2rem;
  background-color: var(--tertiary-color);
  padding: 0 var(--side-padding);
  align-items: center;
}

#msg-action-container {
  display: flex;
  gap: 1rem;
  height: var(--input-height);
  align-self: center;
}

#message-input {
  background-color: var(--secondary-color);
}

#message-input::placeholder {
  color: rgb(180, 180, 180);
}

#send-button {
  background-color: var(--secondary-color);
  aspect-ratio: 1;
  padding: 0.2rem;
  padding-left: 0.45rem;
  border-radius: 50%;
  box-shadow: 0 0 4px -1px black;
}

#send-button svg {
  filter: invert(66%) sepia(37%) saturate(283%) hue-rotate(135deg)
    brightness(90%) contrast(91%);
  max-height: 100%;
}
