input {
  padding: 0.4em;
}

.register-form {
  width: 30vw;
  min-width: fit-content;
  padding: 2.5rem 2rem 1.5rem 2rem;
  position: relative;
}

label {
  justify-self: center;
  width: 100%;
  padding-top: 1em;
}

input {
  width: 100%;
}

.register-button {
  font-size: 1.3rem;
}

@media (max-width: 1250px) {
  .register-form {
    width: 65vw;
  }
}
