/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

@font-face {
  font-family: "norwesterregular";
  src: url("../public/fonts/def_1/norwester-webfont.woff2") format("woff2"),
    url("../public/fonts/def_1/norwester-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "allerregular";
  src: url("../public/fonts/def_1/aller_rg-webfont.woff2") format("woff2"),
    url("../public/fonts/def_1/aller_rg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: rgb(34, 40, 49);
  --secondary-color: rgb(49, 54, 63);
  --tertiary-color: rgb(118, 171, 174);
  --quaternary-color: rgb(238, 238, 238);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "allerregular", "Courier New", Courier, monospace;
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: rgb(52, 142, 216);
  font-weight: 600;
  cursor: pointer;
}
