.main-container {
  position: relative;
}

#selection-text {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
}

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
