#settings {
  position: absolute;
  display: grid;
  grid-template-columns: auto 1fr;
  width: 60%;
  top: 8rem;
  left: 50%;
  translate: -50% 0;
  gap: 1rem;
}

.button-container {
  display: flex;
  gap: 0.7em;
  font-size: 1.5em;
  grid-column: 2;
  justify-self: end;
}

.image-update-container {
  background-color: black;
}

.info-container {
  display: grid;
  grid-auto-rows: min-content;
  gap: 0.5rem;
  padding-top: 6rem;
  font-size: 1.5em;
  justify-self: end;
  width: 90%;
}

.data-container {
  display: grid;
  grid-template-columns: min-content auto;
  width: 100%;
  gap: 0.5rem;
  align-items: center;
}

label {
  text-wrap: nowrap;
  padding: 0;
  flex-shrink: 4;
}

span.user-data {
  flex-grow: 1;
  background-color: var(--secondary-color);
  padding: 0.2em;
  width: 100%;
}

.settings-button {
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 2px black;
  padding: 0.7em;
}

.settings-button:enabled:hover {
  outline-offset: 2px;
  outline-width: 2px;
  outline-style: solid;
}

#update-button {
  color: white;
  outline-color: white;
}

#update-button:disabled {
  color: gray;
}

#logout-button {
  color: tomato;
  outline-color: tomato;
}

@media (max-width: 950px) {
  #settings {
    grid-template-columns: auto;
  }

  .info-container {
    grid-row: 1;
    padding-top: 0;
    padding-bottom: 5rem;
    width: 100%;
  }

  .button-container {
    grid-column: 1;

    padding-bottom: 5rem;
  }
}
